.footer {
    padding: 100px 0;
    background: url('../img/footer.jpg') center (center/cover) no-repeat;
    &__top {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    &__intro {
        display: flex;
        flex-direction: column;
        max-width: 770px;
    }
    &__title{
        max-width: 770px;
        width: 100%;
        margin-bottom: 0;

        color: #fff;
        font-weight: 700;
        font-size: 100px;
        line-height: 105px;
    }

    &__watch {
        max-width: 313px;
        max-height: 330px;

    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        max-width: 670px;
        margin-top: 50px;
    }
}

.form {
    display: flex;
    flex-direction: column;
    width: 300px;

    &__item {
        margin-bottom: 24px;
        height: 36px;
        border: none;
        outline: none;
        padding: 20px 10px;

        font-size: 16px;
    }
}