.title {
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    line-height: 36px;

    &_white {
        color: #fff;
    }

    &_design {
        background-color: #000;
        color: #fff;
        padding: 30px 0;
    }
}