.trigger {
    width: 250px;

    color: #fff;
    text-align: center;
    &__price-new {
        font-weight: 700;
        font-size: 36px;
        line-height: 36px;
        color: $main-color;
    }
    &__price-old {
        text-decoration: line-through;
    }
    &__timer {
        margin-top: 20px;
        &-container {
            width: 250px;
            margin: 8px auto 0;
            span {
                font-size: 24px;
                padding: 8px 5px;
                color: #fff;
                background-color: #6BCA8E;
            }
        }
        &-numbers {
            display: inline-block;
            margin: 0 4px 0 4px;
        }
        &-description {
            margin-top: 4px;
            font-size: 12px;
            text-align: center;
        }
    }
}